<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item is-size-4 has-text-weight-medium">
            <i class="bi bi-textarea-resize"></i>
            <span class="pl-3">SizeIt!</span>
        </div>
    </div>
</nav>
